/**
 * Custom welcome panel styles.
 */
.amcd-dashboard-summary li {
	display: inline;
	margin-right: 1.5em;
}

.amcd-dashboard-summary li a:before,
.amcd-dashboard-summary li > span:before {
    font-family: dashicons;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3em;
}

.amcd-dashboard-summary li.page-count a:before,
.amcd-dashboard-summary li.page-count > span:before {
    content: '\f105';
}

.amcd-dashboard-summary li.post-count.amcd_slides-count a:before,
.amcd-dashboard-summary li.post-count.amcd_slides-count > span:before,
#dashboard_right_now li.post-count.amcd_slides-count a:before,
#dashboard_right_now li.post-count.amcd_slides-count > span:before {
    content: '\f161';
}

.amcd-dashboard-summary li.post-count.amcd_features-count a:before,
.amcd-dashboard-summary li.post-count.amcd_features-count > span:before,
#dashboard_right_now li.post-count.amcd_features-count a:before,
#dashboard_right_now li.post-count.amcd_features-count > span:before {
    content: '\f126';
}

.amcd-dashboard-summary li.post-count.amcd_commercials-count a:before,
.amcd-dashboard-summary li.post-count.amcd_commercials-count > span:before,
#dashboard_right_now li.post-count.amcd_commercials-count a:before,
#dashboard_right_now li.post-count.amcd_commercials-count > span:before {
    content: '\f488';
}

.amcd-dashboard-summary li.post-count.amcd_videos-count a:before,
.amcd-dashboard-summary li.post-count.amcd_videos-count > span:before,
#dashboard_right_now li.post-count.amcd_videos-count a:before,
#dashboard_right_now li.post-count.amcd_videos-count > span:before {
    content: '\f127';
}

.amcd-dashboard-summary li.post-count.amcd_snippets-count a:before,
.amcd-dashboard-summary li.post-count.amcd_snippets-count > span:before,
#dashboard_right_now li.post-count.amcd_snippets-count a:before,
#dashboard_right_now li.post-count.amcd_snippets-count > span:before {
    content: '\f309';
}

.amcd-dashboard-summary li.post-count.amcd_presentations-count a:before,
.amcd-dashboard-summary li.post-count.amcd_presentations-count > span:before,
#dashboard_right_now li.post-count.amcd_presentations-count a:before,
#dashboard_right_now li.post-count.amcd_presentations-count > span:before {
    content: '\f472';
}

.amcd-dashboard-post-type-actions,
.amcd-dashboard-content-actions {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 6px;
	grid-row-gap: 6px;
	margin: 1em 0 0;
}

@media screen and (max-width: 1024px) {
	.amcd-dashboard-post-type-actions,
	.amcd-dashboard-content-actions {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.amcd-dashboard-post-type-actions,
	.amcd-dashboard-content-actions {
		grid-template-columns: repeat(1, 1fr);
	}
}

.amcd-dashboard-post-type-actions-icon,
.amcd-dashboard-content-actions-icon {
	margin: 1em 0 0;
}

.amcd-dashboard-post-type-actions li,
.amcd-dashboard-content-actions li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2em;
}

.amcd-dashboard-post-type-actions h4,
.amcd-dashboard-content-actions h4 {
	margin: 1em 0 0;
	font-size: 1.2em;
}

.amcd-dashboard-post-type-actions-icon .dashicons,
.amcd-dashboard-content-actions-icon .dashicons {
	width: auto;
	height: auto;
}

.amcd-dashboard-post-type-actions-icon .dashicons:before,
.amcd-dashboard-content-actions-icon .dashicons:before {
	display: block;
    font-size: 2em;
    color: #4e4e4e;
}

.amcd-dashboard-post-type-actions a,
.amcd-dashboard-content-actions a {
	display: inline-block;
	margin: 0 0.65em;
}